/* #reinstall
 ******************************************************************************/

#reinstall
{
  margin-top: 1em;
  margin-bottom: 1em;
}

#reinstall-label
{
  display: inline-block;
  margin-bottom: 1em;
  margin-right: 1em;
}

.reinstall-button,
.reinstall-download-alternate {
  margin-top: 1rem;
}

#reasons .alert {
  display: none;
}

#reasons :checked + .reason-alert-container > .alert {
  display: block;
}

.reason-alert-container {
  display: inline;
}